nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
}

.nav-link{
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}